In [1]:
import numpy as np
import pandas as pd
import requests as r
import gzip
import os
import datetime as dt
import re

os.chdir('data')

# get reviews and listings data
with gzip.open('reviews_2021.csv.gz','rt',encoding='utf-8') as f:
    reviews21 = pd.read_csv(f)
with gzip.open('reviews_2022.csv.gz','rt',encoding='utf-8') as f:
    reviews22 = pd.read_csv(f)
reviews = pd.concat([reviews21,reviews22])
del reviews21
del reviews22

# get listings data
listings21 = pd.read_csv('listings_2021.csv')
listings22 = pd.read_csv('listings_2022.csv')
listings = pd.concat([listings21,listings22])
del listings21
del listings22

# Summarize reviews per month per year for each listing
reviews['year_month'] = reviews['date'].apply(lambda x: dt.datetime.strftime(dt.datetime.strptime(x,"%Y-%m-%d"),"%Y-%m"))
reviews['year'] = reviews['date'].apply(lambda x: dt.datetime.strftime(dt.datetime.strptime(x,"%Y-%m-%d"),"%Y"))
review_counts = reviews.groupby(['listing_id','year']).aggregate({'comments':'count'}).reset_index()

# Summarize listing information per month per year
listings['price'] = listings['price'].apply(lambda x: float(re.sub('\\$|,','',str(x))))
listings['lat_lon'] = listings['latitude'].astype(str) + ',' + listings['longitude'].astype(str)
listings_summary = listings.groupby(['id'])[['price','lat_lon']].aggregate({
    'lat_lon':pd.Series.mode,
    'price':'median'}).reset_index()
listings_summary['latitude'] = listings_summary['lat_lon'].apply(lambda x: str.split(x[0] if len(x)==2 else x,',')[0])
listings_summary['longitude'] = listings_summary['lat_lon'].apply(lambda x: str.split(x[0] if len(x)==2 else x,',')[1]) 

# Combine data, check for uniqueness, and write each year to csv for QGIS analysis
final = review_counts.merge(listings_summary,
                   left_on='listing_id',
                   right_on='id')
    
assert len(review_counts.groupby(['listing_id','year']).agg('count').query('comments>1'))==0, "Error: Non-unique by listing and month"

for y in np.arange(2018,2023,1):
    final[final.year==str(y)].to_csv("layer"+str(y)+".csv")

In [9]:
final.loc[final.year.isin(['2018','2019','2020','2021']),
          ['year','comments','latitude','longitude','listing_id']].drop_duplicates().to_csv("")

       year  comments            latitude           longitude  listing_id
7      2018        20            19.41006           -99.17645       44616
8      2019        16            19.41006           -99.17645       44616
9      2020        12            19.41006           -99.17645       44616
10     2021         1            19.41006           -99.17645       44616
18     2018         8            19.43977           -99.15605       56074
...     ...       ...                 ...                 ...         ...
47166  2021         2  19.407885991828994  -99.25055249783212    53849042
47167  2021         1   19.40024117525467   -99.1730373004533    53852645
47168  2021         2            19.35266           -99.16017    53873610
47169  2021         1           19.409094          -99.172218    53880777
47170  2021         1           19.414141           -99.16436    53970957

[40571 rows x 5 columns]